.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 90vh;
}

.packsList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.underCap {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;

  width: 100%;
}
