.container {
  display: flex;
  align-items: center;
  color: var(--color-light-100);
}

.containerDizabled {
  display: flex;
  align-items: center;
  color: var(--color-dark-100);
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  color: var(--color-light-100);

  background-color: var(--color-dark-900);
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  &:disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }

  &[data-state='checked']:disabled {
    align-items: center;
    justify-content: center;
    color: var(--color-dark-100);
    background-color: var(--color-light-700);
  }
}

.buttonWrapper {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background-color: rgb(255 255 255 / 0%);
  border-radius: 50%;

  &.disabled {
    cursor: initial;
  }

  &:focus-within,
  &:hover:not(.disabled),
  &:hover:not(.disabled) {
    width: 36px;
    height: 36px;
    background-color: var(--color-dark-500);
    border-radius: 50%;
  }

  &:active:not(.disabled) {
    width: 36px;
    height: 36px;
    background-color: var(--color-dark-100);
    border-radius: 50%;
  }

  &:focus {
    width: 36px;
    height: 36px;

    background-color: var(--color-light-900);
    border: none;
    border-radius: 50%;
  }

  &.left {
    margin-left: -9px;
  }
}

.indicator {
  width: 18px;
  height: 18px;
}
