.pagination {
  display: flex;
  align-items: center;
  gap: 1.5rem
}

.pages {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem
}

.pageItem {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2px;
  background-color: transparent;
  color: var(--color-light-100);

  &:hover {
    background-color: var(--color-dark-500);
    color: var(--color-light-100);
    cursor: pointer;
  }
}

.active {
  background-color: var(--color-light-100);
  color: var(--color-dark-900);
}

.select {
  display: flex;
  align-items: center;
  gap: .75rem
}