.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 90vh;
}

.backToDecksList {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 140px;
  margin: 20px 0;
}

.nameDecks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.addingCardContentInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 60px 0 20px;

  color: var(--color-dark-100);
}
