.root {
  width: 100%;
  padding: 1.4rem 1.6rem;

  .row {
    margin-bottom: 1.6rem;

    .imageBlock {
      display: flex;
      justify-content: center;

      .image {
        max-width: 15rem;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
