.cardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin: 30px 0;
}

.tableWrapper {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.tableHeader {
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-500);
}

.tableHeader th {
  cursor: pointer;
  padding: 6px 0 0 20px;
}

.tableHeaderTypography span {
  padding: 100px;
}

.icon {
  margin: 4px;
}

.tableCreatedBy > span {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > span {
    margin-right: 15px;
  }
}

.tableRow {
  border: 1px solid var(--color-dark-500);
}

.tableCell {
  display: flex;
  flex-direction: column;
}

.img {
  width: 120px;
  margin-bottom: 20px;
  border-radius: 3px;
}
