.singInCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 420px;
  height: 384px;
  padding: 40px 0;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.formInformation{
  margin-top: 20px;
  color: var(--color-dark-300);
}

.formButton{
  margin-top: 50px;
}

